* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.input-area {
  padding: 20px;
}

.calender {
  width: 100px;
  width: 100%;
  display: block;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.honbun {
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  /* R, G, B, A → A が透明度（0～1） */
  height: 150px;
}

.button-area {
  display: flex;
  justify-content: space-around;
}

.button-area button {
  cursor: url("../img/鳥.png"), auto;
  border-radius: 50px;
  font-size: 200 px;
  width: 70px;
  height: 30px;
}

.save {
  background-color: rgba(255, 255, 255, 0.6);
}

.delete {
  background-color: rgba(255, 255, 255, 0.6);
}

.title1 {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
  padding-bottom: 30px;
}

body {
  background-image: url("../img/背景_緑.jpg");
  background-size: cover; /* 画面いっぱいに拡大 */
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat; /* 繰り返さない */
}
